vim/.vim/backup
vim/.vim/pack
vim/.vim/swap
vim/.vim/undo

# Directories added by fisher.
fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/fish_variables
fish/.config/fish/functions

ssh/.ssh
!ssh/.ssh/config

restic/.config/restic/env.conf
restic/.config/systemd/user/default.target.wants
restic/.config/systemd/user/timers.target.wants

packer_compiled.lua
