vim/.vim/backup
vim/.vim/pack
vim/.vim/swap
vim/.vim/undo

ssh/.ssh
!ssh/.ssh/config

restic/.config/restic/env.conf
restic/.config/systemd/user/default.target.wants
restic/.config/systemd/user/timers.target.wants

packer_compiled.lua

.luarc.json
