// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
	keyboard {
		xkb {
			// Use the American keyboard layout
			layout "us"
			// "ctrl:swap_lalt_lctl,caps:escape"
			options "caps:escape"
		}
		// Enable numlock on startup
		numlock
	}
	touchpad {
		// Enable tap-to-click
		tap
		// Enable natural (macOS-style) scrolling
		natural-scroll
	}
	mouse {
		// Enable natural (macOS-style) scrolling
		natural-scroll
	}
	// Automatically focus windows under the mouse pointer
	focus-follows-mouse
	// Enable workspace back & forth switching
	workspace-auto-back-and-forth
}
