window-rule {
	geometry-corner-radius 10 // Set every window radius
	clip-to-geometry true

	focus-ring {
		// off
		on
		width 2
		// active-color "#7fc8ff"
		active-color "#000"
		inactive-color "#505050"
		urgent-color "#9b0000"
	}
}

layer-rule {
	match namespace="^noctalia-wallpaper*"
	place-within-backdrop true
}

overview {
	workspace-shadow {
		off
	}
}
