# Always use your bundle.
alias be='bundle exec'

# We just do this all the time.
alias g='git'

# Always clearing.
alias c='clear'

# Always updating.
alias brewup='brew update && brew upgrade && brew upgrade --cask'

# Because why keep typing sudo over and over?
if type "apt" &> /dev/null; then
  alias apt='sudo apt'
fi

if type "dnf" &> /dev/null; then
  alias dnf='sudo dnf'
fi

if type "flatpak" &> /dev/null; then
  alias flatpak='sudo flatpak'
fi

# Just seems easier to me.
if type "xdg-open" &> /dev/null; then
  alias open=xdg-open
fi

# Better. Faster. Stronger.
if type "exa" &> /dev/null; then
  alias ls=exa
fi

if type "fdfind" &> /dev/null; then
  alias fd=fdfind
fi

if type "batcat" &> /dev/null; then
  alias bat=batcat
fi

if type "bat" &> /dev/null; then
  alias cat=bat
fi

if type "lazygit" &> /dev/null; then
  alias gg=lazygit
fi
