# Always use your bundle.
alias be='bundle exec'

# We just do this all the time.
alias g='git'

# Because lazy.
alias gg='lazygit'

# Always clearing.
alias c='clear'

# Always updating.
alias brewup='brew update && brew upgrade && brew upgrade --cask'

# OMG where have these been all of my life?
alias cat=bat

if type "exa" &> /dev/null; then
  alias ls=exa
fi

# Linux-specific.
if type "fdfind" &> /dev/null; then
  alias fd=fdfind
fi

if type "batcat" &> /dev/null; then
  alias bat=batcat
fi

if type "xdg-open" &> /dev/null; then
  alias open=xdg-open
fi
