[Unit]
Description=Restic backup service (data pruning)

[Service]
Type=oneshot
ExecStartPre=restic unlock --verbose
ExecStart=restic forget --verbose --prune --keep-daily 7 --keep-weekly 4 --keep-monthly 12 --keep-yearly 3
EnvironmentFile=%h/.config/restic/env.conf
Restart=on-failure
RestartSec=60
Conflicts=restic-backup.service

[Install]
WantedBy=multi-user.target
